<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Car plates information</title>

		{% load static %}
	</head>
	<body ng-app="carplates" ng-controller="carplatesController">	
		<h1>Car plate owners</h1>

		<form ng-submit="carplatesAdd()">
			<input type="text" ng-model="carplatesInput" placeholder="Enter car plate">
			<input type="text" ng-model="nameInput" placeholder="Enter name">
			<input type="text" ng-model="surnameInput" placeholder="Enter surname">
			<button type="submit" ng-click="saveData()">Add</button>
		</form>
		<br>
		<div ng-repeat="carplate in carplatesList">
			<input type="checkbox" ng-model="carplate.remove">
			<span ng-bind="carplate.plate_number"></span>	
			<span ng-bind="carplate.first_name"></span>
			<span ng-bind="carplate.last_name"></span>					
		</div>

		<p>
			<button ng-click="remove()">Remove</button>
		</p>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="{% static 'js/carplates.js' %}"></script>

	</body>
</html>
